:root {
    --bg: #ffffff;
    --text: #000000;
    --card: #ffffff;
    --border: #dbdbdb;
}

/* Dark Mode */
#theme-toggle:checked ~ .layout {
    --bg: #000000;
    --text: #ffffff;
    --card: #121212;
    --border: #262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
}

/* Toggle */
#theme-toggle { display: none; }

.toggle-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
}

/* Layout */
.layout {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    border-right: 1px solid var(--border);
    padding: 25px;
    background: var(--card);
    position: fixed;
}

.logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
    margin-bottom: 40px;
}

.menu a {
    display: block;
    margin-bottom: 25px;
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    transition: 0.2s;
}

.menu a:hover {
    font-weight: 500;
}

/* Feed */
.feed {
    margin-left: 270px;
    padding: 30px;
    width: 100%;
    max-width: 700px;
}

/* Stories */
.stories {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    background: var(--card);
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.story {
    text-align: center;
    font-size: 13px;
}


.story img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(45deg, #feda75, #d62976, #8134af, #515bd4);
    border: 3px solid transparent;
    transition: transform 0.3s, border 0.3s;
}

.story img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Post */
.post {
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 8px;
    margin-bottom: 30px;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 12px;
}

.post-header img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-img img {
    width: 100%;
}


.post-actions {
    padding: 12px;
    font-size: 22px;
}

.post-actions input {
    display: none;
}

.like-btn {
    cursor: pointer;
    transition: 0.3s;
}

#like1:checked + .like-btn,
#like2:checked + .like-btn,
#like3:checked + .like-btn,
#like4:checked + .like-btn,
#like5:checked + .like-btn {
    color: red;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.4); }
    100% { transform: scale(1); }
}

.post-caption {
    padding: 0 12px 12px;
}

.comments {
    padding: 0 12px 12px;
    border-top: 1px solid var(--border);
    font-size: 14px;
}

/* Responsive */
@media(max-width: 900px){
    .sidebar { width: 200px; }
    .feed { margin-left: 220px; }
}

@media(max-width: 700px){
    .sidebar { display: none; }
    .feed { margin-left: 0; }
}